<p id="notice"><%= notice %></p>

<p>
  <b>Description:</b>
  <%= @other.description %>
</p>

<p>
  <b>Quantity:</b>
  <%= @other.quantity %>
</p>

<p>
  <b>Unitarycost:</b>
  <%= @other.unitarycost %>
</p>

<p>
  <b>Cost:</b>
  <%= @other.cost %>
</p>


<%= link_to 'Edit', edit_other_path(@other) %> |
<%= link_to 'Back', others_path %>
