<% provide(:title, @user.first_name) %>
<p id="notice"><%= notice %></p>

<div class="row">
  <aside class="span5">
    <section>
	  <h1>  	
	  	<%= gravatar_for @user %>
	  	<b><%= @user.full_name %></b>
		<p>
		  <b>Email:</b>
		  <%= @user.email %>
		</p>

		<p>
		  <b>Administrador:</b>
		  <%= @user.isadmin %>
		</p>
	  </h1>
    </section>
</div>


<%= link_to 'Editar', edit_user_path(@user) %> |
<%= link_to 'Atrás', users_path %>