<%= form_for(@propose) do |f| %>
  <% if @propose.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@propose.errors.count, "error") %> prohibited this propose from being saved:</h2>

      <ul>
      <% @propose.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :obra %><br />
    <%= f.text_field :obra %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
