<p id="notice"><%= notice %></p>

<p>
  <b>OBRA:</b>
  <%= @propose.obra %>
</p>
<p>
	<b>ITEMS:</b>
</p>
<table>
	<tr>
		<th>Código interno</th>
		<th>Designación</th>
	</tr>

	<% @propose.items.each do |item| %>
		<tr>
			<td><%= item.code %></td>
			<td><%= item.description %></td>
		</tr>
	<% end %>
</table>
<br />

<%= link_to 'Edit', edit_propose_path(@propose) %> |
<%= link_to 'Back', proposes_path %>
