<% provide(:title, @item.description) %>
<p id="notice"><%= notice %></p>

<p>
  <b>Descripcion:</b>
  <%= @item.description %>
</p>

<p>
  <b>Codigo:</b>
  <%= @item.code %>
</p>


<%= link_to 'Editar', edit_item_path(@item) %> |
<%= link_to 'Atrás', items_path %>
