<h1>Listing machines</h1>

<table>
  <tr>
    <th>Code</th>
    <th>Location</th>
    <th>Description</th>
    <th>Unit</th>
    <th>Performance</th>
    <th>Unitarycost</th>
    <th>Quantperunit</th>
    <th>Realcost</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @machines.each do |machine| %>
  <tr>
    <td><%= machine.code %></td>
    <td><%= machine.location %></td>
    <td><%= machine.description %></td>
    <td><%= machine.unit %></td>
    <td><%= machine.performance %></td>
    <td><%= machine.unitarycost %></td>
    <td><%= machine.quantperunit %></td>
    <td><%= machine.realcost %></td>
    <td><%= link_to 'Show', machine %></td>
    <td><%= link_to 'Edit', edit_machine_path(machine) %></td>
    <td><%= link_to 'Destroy', machine, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Machine', new_machine_path %>
